@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Joel Hilton's Film Collection</h1>
</div>

<div class="photo-section">
    <h3>Joel Hilton</h3>
        <img src="~/JoelHiltonHeadshot.jpg" alt="Joel Hilton" style="max-width: 100%; height: auto;" />
</div>